.bottom-actions {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
}

.main-nav {
    background: var(--color-dark-tab);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 70px;
}

.main-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.main-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav .active img {
    opacity: 1;
}

.main-nav img {
    padding: 10px;
    width: 30px;
    object-fit: cover;
    opacity: .3;
}

