@import 'reset.css';
@import 'fonts.css';
@import 'components.css';
@import 'sidemenu.css';
@import 'bottom-actions.css';

:root {
    --color-dark-tab: #343434;
    --color-dark-tab--passive: #2C2C2C;
    --color-dark-tab--focus: #565656;

    --color-red: #F54949;
    --color-gold: #D2A348;

    --color-lightblue: #54BBE7;
    --color-blue: #004CA6;
}

/**
    Global Changes
 */

body {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: Lexend, Poppins, Helvetica, Arial, sans-serif;
}

button, input {
    border: none;
    background: none;
}

input {
    font-family: Poppins, Lexend, sans-serif;
}

button {
    font-family: Lexend, Poppins, sans-serif;
    cursor: pointer;
}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p {
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.4;
}

strong {
    font-weight: bold;
}

/**
    Header
 */

header {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .8em;
}

.logo {
    height: 4em;
}

/*
    Side Menu Button
 */

.hamburger-button {
    width: 4em;
    height: 4em;
    border-radius: 5px;
    background: var(--color-lightblue);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger-button svg {
    width: 60%;
}

/**
    Explore page
 */

.explore-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7em .8em 0 .8em;
    margin-bottom: 1.3em;
}

.explore-heading__headline {
    font-size: 2em;
    background: white;
    border-radius: 12px;
    padding: .7em;
    margin-right: auto;
    margin-bottom: 1em;
    box-shadow: 0 3px 6px rgba(52, 52, 52, 0.45);
}

.explore-heading__headline h2 {
    font-size: 1em;
}

.explore-heading__headline h1 {
    display: block;
    font-weight: bold;
    padding-top: .1em;
    text-transform: uppercase;
}

.explore-heading::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 90%;
    background: url('../img/amsterdam-illustration.png') bottom no-repeat;
    background-size: 115%;
}

/*
    Quick Actions
*/

.quick-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .8em;
    padding: 0 .8em;
}

.quick-actions__button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.quick-actions img {
    height: 1.8em;
    margin-bottom: 1em;
}

.quick-actions span {
    font-size: .8em;
}

.quick-actions .travel:first-child {
    background: var(--color-gold);
}

.quick-actions .stores {
    background: var(--color-red);
}

.quick-actions .cats {
    background: var(--color-blue);
}

/*
    Recommended Articles
*/

.recommended-articles {
    display: flex;
    flex-direction: column;
    padding: .8em;
    gap: .8em;
}

.recommended-articles article {
    position: relative;
    height: 8em;
    width: 100%;
    color: white;
    border-radius: 12px;
    font-size: 2em;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.recommended-articles article:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), rgba(0, 0, 0, 0.49), #000000);
}

.recommended-articles img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: inherit;
}

.recommended-articles h1 {
    font-weight: bold;
    margin-top: .2em;
}

/*
    Article view page
 */

.view-article-page {
    padding-top: 300px;
    background: url('../img/pictures/amsterdam-huis.jpeg');
    background-size: contain;
}

.opened-article {
    background: white;
    padding: 1em 2em;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.opened-article h1 {
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 6px;
    align-self: center;
    padding: .4em 1em;
    text-align: center;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
}

.opened-article h2 {
    font-size: 1.3em;
    font-weight: bold;
}

.opened-article p {
    line-height: 1.3;
    font-size: .9rem;
}

.opened-article img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1em;
}

/*
    Footer
 */

footer {
    position: relative;
    z-index: 1;
    padding: 2em 0 100px 0;
    font-size: 1em;
    color: white;
    text-align: center;
    background: var(--color-dark-tab--passive);
}
