@import 'reset.css';
@import 'bubblegallery.css';
@import 'fonts.css';

:root {
    --color-primary-dark: #343434;
}

/**
    Global changes
 */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Lexend, Poppins, Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom right, #ffffff, #f1f1f1);
}

a {
    text-decoration: none;
}

/**
    Main navigation
 */

.main-nav {
    position: fixed;
    bottom: 30px;
    background: #f2f2f2;
    border-radius: 30em;
    padding: 1.2em 1.4em;
    box-shadow: 0 3px 15px rgba(63, 63, 63, 0.32);
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

.main-nav a {
    display: flex;
    align-items: center;
    gap: 1.2em;
    color: var(--color-primary-dark);
}
.main-nav a.active {
    background-color: var(--color-primary-dark);
    color: white;
    padding: 20px 30px;
    border-radius: 30em;
}
.main-nav a:not(.active) {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
}

.main-nav span {
    font-size: 1em;
    display: none;
}
.main-nav a.active span {
    display: block;
}

.main-nav svg {
    height: 1.8em;
    fill: currentColor;
}
.main-nav a.active svg {
    background-color: var(--color-primary-dark);
    color: white;
    /*padding: 10px;*/
    height: 1.8em;
}
